[xmpp]
jid = account@jabber.server
password = secret
room = room@jabber.server
nick = Schrottding 

[db]
questions = messages.csv
searchengines = searchengines.csv
storage = storage.json

[modules]
greetings = hallo,moin,hi,hai,servus,aloha,huhu
hands = False
flooding = 750
paste = paste.service
noalphabet = k,T
op = moderator-nick

[timeouts]
hands = 10
greet = 120
alphabet = 30
